<a href="https://colab.research.google.com/github/jayalekshmiks112/ML-Projects/blob/main/news_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk

In [ ]:
# nltk.download()
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import pandas as pd

In [ ]:
fake=pd.read_csv("/content/drive/MyDrive/AI/Fake-211023-185413.csv")
genuine=pd.read_csv("/content/drive/MyDrive/AI/True-211023-185340.csv")

In [ ]:
display(fake.info)

<bound method DataFrame.info of                                                    title  ...               date
0       Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1       Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2       Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3       Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4       Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017
...                                                  ...  ...                ...
23476  McPain: John McCain Furious That Iran Treated ...  ...   January 16, 2016
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  ...   January 16, 2016
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...  ...   January 15, 2016
23479  How to Blow $700 Million: Al Jazeera America F...  ...   January 14, 2016
23480  10 U.S. Navy Sailors Held by Iranian Military ...  ...   January 12, 2016

[23481 rows x 4 columns]>

In [ ]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [ ]:
display(genuine.head())

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [ ]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [ ]:
fake['target']=0
genuine['target']=1

In [ ]:
display(genuine.head(10))

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1
5  White House, Congress prepare for talks on spe...  ...      1
6  Trump says Russia probe will be fair, but time...  ...      1
7  Factbox: Trump on Twitter (Dec 29) - Approval ...  ...      1
8         Trump on Twitter (Dec 28) - Global Warming  ...      1
9  Alabama official to certify Senator-elect Jone...  ...      1

[10 rows x 5 columns]

In [ ]:
display(fake.head(10))

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0
5   Racist Alabama Cops Brutalize Black Boy While...  ...      0
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...      0
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...      0
8   Former CIA Director Slams Trump Over UN Bully...  ...      0
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...      0

[10 rows x 5 columns]

In [ ]:
data=pd.concat([fake, genuine],axis=0)

In [ ]:
data=data.reset_index(drop=True)

In [ ]:
data=data.drop(['subject','date','title'],axis=1)

In [ ]:
print(data.columns)

Index(['text', 'target'], dtype='object')

###TOKENIZATION

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
data['text']=data['text'].apply(word_tokenize)

###STEMMING

In [ ]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

###STEMMING

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english")

In [ ]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [ ]:
data['text']=data['text'].apply(stem_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

###STOPWORD REMOVAL

In [ ]:
from nltk.corpus import stopwords

In [ ]:
def stop_it(t):
  dt=[word for word in t if len(word)>2]
  return dt

In [ ]:
data['text']=data['text'].apply(stop_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [ ]:
data['text']=data['text'].apply(' '.join)

###VECTORIZATION

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7,max_features=5000,ngram_range=(1,3))

dt = my_tfidf.fit_transform(data['text'])

In [ ]:
print(dt)
print(dt.shape)

  (0, 4203)	0.04842339186366534
  (0, 2890)	0.032448488483253934
  (0, 1230)	0.08629641852719677
  (0, 1696)	0.03145713973512704
  (0, 276)	0.03954392707513829
  (0, 1592)	0.03988279303163562
  (0, 4698)	0.03589717818978495
  (0, 2860)	0.033162572713267176
  (0, 4202)	0.033823505402233396
  (0, 192)	0.03001117627865362
  (0, 4957)	0.06268445064841917
  (0, 4302)	0.04860769695663054
  (0, 1793)	0.022141010157050424
  (0, 4125)	0.03241434377910785
  (0, 3929)	0.0183904639397253
  (0, 4186)	0.033771628447398463
  (0, 4418)	0.038721893274516535
  (0, 4584)	0.03205704294996808
  (0, 2889)	0.032448488483253934
  (0, 1578)	0.04704339896264883
  (0, 4544)	0.029027280677171512
  (0, 1594)	0.03680989513258174
  (0, 2193)	0.040948799901795174
  (0, 1223)	0.04153613402510408
  (0, 4839)	0.034421083836369055
  :	:
  (44897, 4522)	0.09334918984922991
  (44897, 4812)	0.0640260655037529
  (44897, 147)	0.03192017703987814
  (44897, 975)	0.07381123676962682
  (44897, 1043)	0.05704236452968616
  (44897, 3689)	0.0622353441082514
  (44897, 4585)	0.07900677392009221
  (44897, 539)	0.047318050287087354
  (44897, 3356)	0.061100623216583626
  (44897, 3687)	0.053880893378916016
  (44897, 3354)	0.17572225036630648
  (44897, 4778)	0.0334606501646987
  (44897, 376)	0.02743618945427582
  (44897, 1789)	0.025108720816595386
  (44897, 33)	0.05297408059469543
  (44897, 1648)	0.02538341623504695
  (44897, 1998)	0.04032755907176126
  (44897, 208)	0.03395656876338824
  (44897, 1416)	0.10840887244980184
  (44897, 4858)	0.030795967383411834
  (44897, 4712)	0.04169520902352056
  (44897, 999)	0.07937993462479337
  (44897, 1762)	0.06336397007433298
  (44897, 4952)	0.033192142710435336
  (44897, 2597)	0.03697308084676176
(44898, 5000)

###SPLITTING

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(dt,data['target'],test_size=0.25)
display(x_train)
print('\n')
display(y_train)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

<33673x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 6890709 stored elements in Compressed Sparse Row format>

44504    1
40782    1
36634    1
770      0
14828    0
        ..
30988    1
22404    0
14492    0
42288    1
33756    1
Name: target, Length: 33673, dtype: int64

(33673, 5000) (11225, 5000) (33673,) (11225,)

###LOGISTIC REGRESSION

In [ ]:
from sklearn.linear_model import LogisticRegression
#from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

In [ ]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(x_train,y_train)

LogisticRegression(max_iter=900)

In [ ]:
pred_1=model_1.predict(x_test)
crl= confusion_matrix(y_test,pred_1)
print(crl*100)

[[575100   6300]
 [  3700 537400]]

###PASSIVE AGGRESSIVE CLASSIFIER

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(x_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [ ]:
from sklearn.metrics import accuracy_score

y_pred = model.predict(x_test)
accscore=accuracy_score(y_test,y_pred)
print("The accuracy of the prediction is ", accscore*100)

The accuracy of the prediction is  99.73273942093542